extends layout

block content
    <section class="jumbotron text-center topbar">
    <div class="container">
    <h1>GitBot</h1><p>Welcome to GitBot</p>
    <h1 class="jumbotron-heading"><input type="text" class="form-control" placeholder='Enter your Github Name' id='name'><span class='hide'>Album example</span></h1>
    <p class="lead text-muted hide">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    <p class='hide'>
    <a href="#" class="btn btn-primary">Main call to action</a>
    <a href="#" class="btn btn-secondary">Secondary action</a>
    </p>
    </div>
    </section>